.list {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style-type: none;
  font-size: 18px;
  letter-spacing: 1.5px;

  li {
    padding-inline: 8px;
  }

  a {
    &:hover {
      color: var(--color-gray);
    }

    &.active {
      color: var(--color-yellow);
    }
  }
}
