.header {
  padding: 22px 0;
  border-bottom: 1px solid var(--border-color);
}

.transparent {
  position: relative;
  z-index: 1;
  background-color: transparent;
  border-bottom: transparent;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.logo {
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 2px;
  user-select: none;
}
